@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ruda:wght@500&display=swap');

body {
    background-color: #2d3142;
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ruda', sans-serif;

}

h1 h2 h3 h4 h5 {
    font-family: 'Ruda', sans-serif;
}
/* navbar */

.c-white {
    color: #ffffff;
    letter-spacing: 0.08em;
}

.c-white:hover {
    color: #ef8354;
}


.navbar-light .navbar-nav .nav-item  .nav-link {
    color: #ffffff;
    letter-spacing: 0.05em;
} 

.navbar-light .navbar-nav .nav-item  .nav-link:hover {
    color: #ef8354;
   }

.bg-image {
    background-image: url("/static/images/hero.jpeg");
    position: relative;
    display: flex;
    height: 600px;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;   
 
}

.bg-image::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(53, 51, 60, 0.7);
}

.bg-image.menu {
    background-image: url("/static/images/grey.jpg");
    position: relative;
    display: flex;
    height: 600px;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;   
 
}

.bg-image.menu::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(79, 71, 108, 0.2);

}

.container-fluid {
    color: #ffffff;
    letter-spacing: 0.05em;
    font-size: small;
    margin: 10px;
    padding-top: 10px;
}

.container-fluid .links-color {
    color: #ffffff;
    font-size: large;
}

.container-fluid .links-color:hover {
    color: #ef8354;
}

.hero-text {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

.btn-danger {
    background-color: #cf5522;
    border: none;
}

.btn-danger:hover {
    background-color: #ef8354;
    border: none;
}

#map {min-height: 150px;}